<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/coffee.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/edit-fade.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="stylesheet" href="/../css/categories.css" />
    <title>Document</title>

    <style></style>

    <link rel="stylesheet" href="/../css/style.css" />
    <link rel="stylesheet" href="/../css/cartsidebar.css" />
    <link rel="stylesheet" href="/../css/categories.css" />
    <link rel="stylesheet" href="/../css/furniture.css" />
    <link rel="stylesheet" href="/../css/cartsidebar.css" />
    <link rel="stylesheet" href="/../css/style.css" />
    <link rel="stylesheet" href="/../css/filter.css" />
    <!-- Font Awesome Icon Library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
   

    <div class="filter-header">
      <div class="filter-icon">
        <button class="filter-button" onclick="filterOn()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="16"
            height="16"
          >
            <path
              d="M324.4 64C339.6 64 352 76.37 352 91.63C352 98.32 349.6 104.8 345.2 109.8L240 230V423.6C240 
                437.1 229.1 448 215.6 448C210.3 448 205.2 446.3 200.9 443.1L124.7 385.6C116.7 379.5 112 370.1 112 
                360V230L6.836 109.8C2.429 104.8 0 98.32 0 91.63C0 76.37 12.37 64 27.63 64H324.4zM144 224V360L208 
                408.3V223.1C208 220.1 209.4 216.4 211.1 213.5L314.7 95.1H37.26L140 213.5C142.6 216.4 143.1 220.1 143.1 
                223.1L144 224zM496 400C504.8 400 512 407.2 512 416C512 424.8 504.8 432 496 432H336C327.2 432 320 424.8 320 416C320 
                407.2 327.2 400 336 400H496zM320 256C320 247.2 327.2 240 336 240H496C504.8 240 512 247.2 512 256C512 264.8 504.8 272 
                496 272H336C327.2 272 320 264.8 320 256zM496 80C504.8 80 512 87.16 512 96C512 104.8 504.8 112 496 112H400C391.2 112 384 
                104.8 384 96C384 87.16 391.2 80 400 80H496z"
            ></path>
          </svg>
          Filter
        </button>
      </div>

      <div class="dropDownContainer">
        <select id ="sortSelect" placeholder="Select a Sorting Method">
          <option value="atoz">Alphabatically: A to Z</option>
          <option value="ztoa">Alphabatically: Z to A</option>
          <option value="lowtohigh">Price: Low To High</option>
          <option value="hightolow">Price: High To Low</option>
          <option value="oldtonew">Date: Old To New</option>
          <option value="newtoold">Date: New To Old</option>
        </select>
        <button onclick="sortItems()">Sort</button>
      </div>
      <%if(category) {%>
      <input id = "categoryinput" type="hidden" value="<%= category %>">
      <%}%>
      <%if(searchQuery){%>
      <input id = "searchinput" type="hidden" value="<%= searchQuery %>">
      <%}%>
      <%if(sortQuery){%>
      <input id = "sortinput" type="hidden" value="<%= sortQuery %>">
      <%}%>
    </div>

    <div class="filterDiv" id="filter-button1">
      <div class="insideFilter">
        <div class="filterTitle">
          <span class="">FILTER</span>
          <button class="closeButton">
            <i class="material-icons" onclick="filterClose()">close</i>
          </button>
        </div>

        <div class="filterContent">
          <div class="priceContainer">
            <div class="wrapperRange">
              <header>
                <h2>Price Range</h2>
                <p>Use slider or enter min and max price</p>
              </header>
              <div class="price-input">
                <div class="field">
                  <span>Min</span>
                  <input
                    type="number"
                    class="input-min"
                    value="<%= lowestPrice %>"
                  />
                </div>
                <div class="separator">-</div>
                <div class="field">
                  <span>Max</span>
                  <input
                    type="number"
                    class="input-max"
                    value="<%= highestPrice %>"
                  />
                </div>
              </div>
              <div class="slider">
                <div class="progress"></div>
              </div>
              <div class="range-input">
                <input
                  type="range"
                  class="range-min"
                  min="<%= lowestPrice %>"
                  max="<%= highestPrice %>"
                  value="<%= lowestPrice %>"
                  step="100"
                />
                <input
                  type="range"
                  class="range-max"
                  min="<%= lowestPrice %>"
                  max="<%= highestPrice %>"
                  value="<%= highestPrice %>"
                  step="100"
                />
              </div>

              <button class="filter" onclick=" applyFilter()">Filter</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/../js/validations.js"></script>
    <script type="text/javascript" src="/../js/validateFilter.js"></script>
    <script type="text/javascript" src="/../js/ajax-filter.js"></script>
    <script>
      function sortItems() {
        console.log("entered sort function")
        let selectElement = document.getElementById("sortSelect");
        console.log("found sortSelect")
        let selectedValue = selectElement.value;
        console.log("found sortselect value")
        let category = document.getElementById("categoryinput").value;
        console.log("found category value and added it")
        if(document.getElementById("searchinput")!==null)
        {
          let search = document.getElementById("searchinput").value;
        }
        else{
          let search = null;
        }
        console.log("found search input")
        if(search!==null)
        {
        window.location.href=`/product/clientproduct/?category=${category}&sort=${selectedValue}&search=${search}`;
        }
        else{
          window.location.href=`/product/clientproduct/?category=${category}&sort=${selectedValue}`;
        }
      }
      function applyFilter()
      {
        let min = document.querySelector(".input-min").value;
        let max = document.querySelector(".input-max").value;
        let category = document.getElementById("categoryinput").value;
        
        if(document.getElementById("searchinput")!==null)
        {
          let search = document.getElementById("searchinput").value;
        }
        else{
          let search = null;
        }
        if(document.getElementById("sortinput")!==null)
        {
          let sort = document.getElementById("sortinput").value;
        }
        else{
          let sort = null;
        }
        if(search!==null && sort!==null)
        {
        window.location.href=`/product/clientproduct/?category=${category}&min=${min}&max=${max}&search=${search}&sort=${sort}`;
        }
        else if(search!==null)
        {
        window.location.href=`/product/clientproduct/?category=${category}&min=${min}&max=${max}&search=${search}`;
        }
        else if(sort!==null)
        {
        window.location.href=`/product/clientproduct/?category=${category}&min=${min}&max=${max}&sort=${sort}`;
        }
        else{
          window.location.href=`/product/clientproduct/?category=${category}&min=${min}&max=${max}`;
        }
      }
    </script>
  </body>
</html>
