<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

        div.contenty {
            margin-left: 200px;
            padding: 1px 16px;
            height: 1000px;
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
                display: flex;
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 0;
                padding: 0;
            }
        }
        @media screen and(max-width: 1400){
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 0;
                /* padding: 0; */
            }
        }
        

        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }

        .material-symbols-outlined {

            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }


        .sidebar a.dashboard {
            background-color: black;
            color: white;
        }

        .sidebar a:hover:not(.dashboard) {
            background-color: #555;
            color: white;
        }
        @media screen and(max-width: 2497){
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
                
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 325;
                padding: 25;
            }
        }
    </style>
    <title>Admin Product Edit</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/min/dropzone.min.css" />





<script>
   
</script>
</head>
<body>
    <div class="barpage">
        <div class="sideCon">
            <%- include("./partials/adminnav.ejs")%>    
            <% console.log("test") %>
            <div class="header"> <h2> <% if (product && product != "add") { %> Edit a Product  <% }else{ %> Add a Product <% }%> </h2> </div>
            <div class="gallery">
                <div class="row">
                    <div class="background">
                        <div class="containerform">
                            <!-- //////////////////update///////////////// -->
                            <% if (product && product !== "add") { %>
                                
                                <form id ="formedit" class="form" action="/adminproduct/edit" method="post" enctype="multipart/form-data">
                                
                              <% } else { %>
                                
                                <form id = "product-form" class="form" action="/adminproduct/furniture" method="post"  enctype="multipart/form-data">
                                 
                                
                              <% } %>
                        
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="productname">Product Name</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                            <input type="text"style="width: 100%;
                                            padding: 12px;
                                            border: 1px solid #ccc;
                                            border-radius: 4px;
                                            resize: vertical;" id="productname" name="productname"
                                            placeholder="Enter the product name.." value="<%= product ? product.productName : '' %>">
                                            
                                        <% } else { %>
                                            <input type="text" style="width: 100%;
                                            padding: 12px;
                                            border: 1px solid #ccc;
                                            border-radius: 4px;
                                            resize: vertical;" id="productname" name="productname" placeholder="Enter the product name..">
                                        <% } %>
                                        <div id="nameid" class="err" ><% if (errors && errors.productname) { %>
                                            <%= errors.productname %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="category">Category</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                        <select id="category"style="width: 100%;
                                        padding: 12px;
                                        border: 1px solid #ccc;
                                        border-radius: 4px;
                                        resize: vertical;" name="category">
                                                <option value="armchair" <%= product && product.category === 'armchair' ? 'selected' : '' %>>Armchair</option>
                                                <option value="beds" <%= product && product.category === 'beds' ? 'selected' : '' %>>Beds</option>
                                                <option value="benches" <%= product && product.category === 'benches' ? 'selected' : '' %>>Benches</option>
                                                <option value="sofas" <%= product && product.category === 'sofas' ? 'selected' : '' %>>Sofas</option>
                                                <option value="beanbags" <%= product && product.category === 'beanbags' ? 'selected' : '' %>>Bean Bags</option>
                                                <option value="chaiselounges" <%= product && product.category === 'chaiselounges' ? 'selected' : '' %>>Chaise Lounges</option>
                                                <option value="livingroomset" <%= product && product.category === 'livingroomset' ? 'selected' : '' %>>Living Room Set</option>
                                                <option value="kidsfurniture" <%= product && product.category === 'kidsfurniture' ? 'selected' : '' %>>Kids Furniture</option>
                                                <option value="petsfurniture" <%= product && product.category === 'petsfurniture' ? 'selected' : '' %>>Pets Furniture</option>
                                                <option value="spacefriendly" <%= product && product.category === 'spacefriendly' ? 'selected' : '' %>>Space Friendly</option>
                                                <option value="outdoors" <%= product && product.category === 'outdoors' ? 'selected' : '' %>>Outdoors</option>
                                                <option value="dressers" <%= product && product.category === 'dressers' ? 'selected' : '' %>>Dressers</option>
                                                <option value="tvunits" <%= product && product.category === 'tvunits' ? 'selected' : '' %>>Tv Units</option>
                                                <option value="consoles" <%= product && product.category === 'consoles' ? 'selected' : '' %>>Consoles</option>
                                                <option value="vanity" <%= product && product.category === 'vanity' ? 'selected' : '' %>>Vanity</option>
                                                <option value="diningtables" <%= product && product.category === 'diningtables' ? 'selected' : '' %>>Dining Tables</option>
                                                <option value="coffeetables" <%= product && product.category === 'coffeetables' ? 'selected' : '' %>>Coffee Tables</option>
                                                <option value="sidetables" <%= product && product.category === 'sidetables' ? 'selected' : '' %>>Side Tables</option>
                                                <option value="nightstands" <%= product && product.category === 'nightstands' ? 'selected' : '' %>>Night Stands</option>
                                                <option value="mattresses" <%= product && product.category === 'mattresses' ? 'selected' : '' %>>Mattresses</option>
                                                <option value="comfortpillows" <%= product && product.category === 'comfortpillows' ? 'selected' : '' %>>Comfort Pillows</option>
                                                <option value="duvets" <%= product && product.category === 'duvets' ? 'selected' : '' %>>Duvets</option>
                                                <option value="mattressprotectors" <%= product && product.category === 'mattressprotectors' ? 'selected' : '' %>>Mattress Protectors</option>
                                                
                                            
                                        </select>
                                        <% } else { %>
                                            <select id="category" style="width: 100%;
                                            padding: 12px;
                                            border: 1px solid #ccc;
                                            border-radius: 4px;
                                            resize: vertical;" name="category">
                                               <option value="armchair">Armchair</option>
                                               <option value="beds">Beds</option>
                                               <option value="benches">Benches</option>
                                               <option value="sofas">Sofas</option>
                                               <option value="beanbags">Bean Bags</option>
                                               <option value="chaiselounges">Chaise Lounges</option>
                                               <option value="livingroomset">Living Room Set</option>
                                               <option value="kidsfurniture">Kids Furniture</option>
                                               <option value="petsfurniture">Pets Furniture</option>
                                               <option value="spacefriendly">Space Friendly</option>
                                               <option value="outdoors">Outdoors</option>
                                               <option value="dressers" >Dressers</option>
                                                <option value="tvunits" >Tv Units</option>
                                                <option value="consoles" >Consoles</option>
                                                <option value="vanity" >Vanity</option>
                                                <option value="diningtables" >Dining Tables</option>
                                                <option value="coffeetables" >Coffee Tables</option>
                                                <option value="sidetables" >Side Tables</option>
                                                <option value="nightstands" >Night Stands</option>
                                                <option value="mattresses" >Mattresses</option>
                                                <option value="comfortpillows" >Comfort Pillows</option>
                                                <option value="duvets" >Duvets</option>
                                                <option value="mattressprotectors">Mattress Protectors</option>                                               
                                              </select>
                                        <% } %>
                                        <div id="catorgyid" class="err"></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="subject">Choose diffrent color</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                        <input id="color" style="width: 100%;
                                        padding: 12px;
                                        border: 1px solid #ccc;
                                        border-radius: 4px;
                                        resize: vertical;" name="color" type="text" value="<%= product ? product.color : '' %>">
                                        <% } else { %>
                                            <input type="text" style="width: 100%;
                                            padding: 12px;
                                            border: 1px solid #ccc;
                                            border-radius: 4px;
                                            resize: vertical;" id="color" name="color" placeholder="Enter the available color..">
                                        <% } %>
                                        <div id="colorid" class="err"><% if (errors && errors.color) { %>
                                            <%= errors.color %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Update the price</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                        <input type="number" min="0.01" step="0.01" id="price" name="price"
                                            placeholder="Decimals are accepted" value="<%= product ? product.price : '' %>">
                                        <% } else { %>
                                            <input type="number" min="0.01" step="0.01" id="price" name="price" placeholder="Enter the price..">
                                        <% } %>
                                        <div id="priceid" class="err"><% if (errors && errors.price) { %>
                                            <%= errors.price %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <% if (product && product != "add") { %>
                                <div class="rowform">
                                    <div class="col-25">
                                        
                                        <label for="subject">Add an offer</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="number" min="1" step="any" id="offer" name="offer"
                                            placeholder="Decimals are accepted" value="<%= product ? product.offer : '' %>">
                                        <div id="offerid" class="err"><% if (errors && errors.price) { %>
                                            <%= errors.price %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Update the quantity</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                        <input type="number" min="1" step = "1" id="quantity" name="quantity"
                                            placeholder="Enter a whole posisitive number .."  value="<%= product ? product.quantity : '' %>">
                                        <% } else { %>
                                            <input type="number" min="1" step="1" id="quantity" name="quantity" placeholder="Enter the quantity..">
                                        <% } %>
                                        <div id="quantityid" class="err"><% if (errors && errors.quantity) { %>
                                            <%= errors.quantity %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Write the measurements</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                            <textarea style="width: 100%;
                                            padding: 12px;
                                            border: 1px solid #ccc;
                                            border-radius: 4px;
                                            resize: vertical;" id="measurements" name="measurements" placeholder="Leave any measurements about the item" style="height:200px"><% if (product && product.size) { %><%= product.size %><% } %>
                                          </textarea>
                                          <% } else { %>
                                              <textarea style="width: 100%;
                                              padding: 12px;
                                              border: 1px solid #ccc;
                                              border-radius: 4px;
                                              resize: vertical;" id="measurements" name="measurements" placeholder="Leave any measurements about the item" style="height:200px"></textarea>
                                          <% } %>
                                          <div id="measurementsid" class="err"><% if (errors && errors.measurements) { %>
                                            <%= errors.measurements %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                      <label for="comments">Comments</label>
                                    </div>
                                    <div class="col-75">
                                        <% if (product && product != "add") { %>
                                      <textarea style="width: 100%;
                                      padding: 12px;
                                      border: 1px solid #ccc;
                                      border-radius: 4px;
                                      resize: vertical;" id="comments" name="comments" placeholder="Leave any comments you have about the product" style="height:200px"><% if (product && product.comments) { %><%= product.comments %><% } %>
                                    </textarea>
                                    <% } else { %>
                                        <textarea style="width: 100%;
                                        padding: 12px;
                                        border: 1px solid #ccc;
                                        border-radius: 4px;
                                        resize: vertical;" id="comments" name="comments" placeholder="Leave any comments you have about the product" style="height:200px"></textarea>
                                    <% } %>
                                    </div>
                                  </div>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Update Photo of the product</label>
                                    </div>
                                    <% if (product && product != "add") { %>
                                    <div class="col-65">
                                        <div id="my-dropzoneedit" class="dropzone" data-product-id="<%= product._id %>"></div>
                                        <div id="preview">
                                            <ul id="previous-images">
                                                <% product.photo.forEach(function(image) { %>
                                                    <li>
                                                      <img src="/<%= image.replace('public/', '') %>" style="max-width: 100px;" />
                                                      <button type="button" class="remove-btn">Remove</button>
                                                    </li>
                                                  <% }) %>
                                              </ul>                                              
                                        </div>
                                    </div>
                                    <% } else{%>
                                    <div class="col-75">
                                        <!-- <input type="file" id="photo" name="photo" accept=".jpg, .jpeg, .png" multiple onchange="validateImageFiles(this)">
                                        <p id="fileStatus"></p>
                                        <div id="photoContainer"></div> -->
                                        <div id="my-dropzone" class="dropzone"></div>
                                        <div id="preview"></div>
                                      </div>
                                    <% } %>
                                </div>
                                    <div class="rowform">
                                    
                                    <div class="rowform">
                                        <input type="submit" id="submitButton" value="Submit">
                                    </div>
                                    <div class="rowform">
                                        <% if (typeof successMessage !== 'undefined' && successMessage) { %>
                                          <p style="color: green"><%= successMessage %></p>
                                        <% } %>
                                        <% if (typeof failMessage !== 'undefined' && failMessage) { %>
                                          <p style="color:red"><%= failMessage %></p>
                                        <% } %>
                                        <% if (errors && errors.general) { %>
                                            <p style="color:red"><%= errors.general %></p>
                                          <% } %>
                                      </div>

                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
           <h3 id="subhead">Recently Edited</h3>
            <div class="row">
                <div class="content">
                    <section class="hoveringimgs">
                        <div class="box">
                            <img src="../images/malia_5.webp" class="hoveredimg" alt="Avatar" style="width:100%">
                            <img src="../images/malia_3.webp" alt="texture" class="hover_img" style="width:100%">
                        </div>
                        <div class="container">
                            <h4><b>Malia Vanity Stool Chair</b></h4>
                            <p>Hover function</p>
                        </div>
                    </section>
                </div>
                <div class="content">
                    <section class="hoveringimgs">
                        <div class="box">
                            <img src="../images/NylaBabyBlue2.webp" class="hoveredimg" alt="Avatar" style="width:100%">
                            <img src="../images/NylaBabyBlue3.webp" alt="texture" class="hover_img" style="width:100%">
                        </div>
                        <div class="container">
                            <h4><b>Nyla Baby Blue</b></h4>
                            <p>19200 EGP</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <%- include('./partials/chat.ejs')%>
    </div>
    
    <script src="jquery-3.6.4.min.js"></script>
    <script src="../js/admin.js"></script>

</body>
</html>