<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/cart.css" />
    <link rel="stylesheet" href="../css/wishlist.css" />
    <title>FRNTR</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="emptyWishlistContainer">
      <i class="material-icons" id="emptyWishlist">heart_broken</i>
      <div id="yourWishlist">CART IS EMPTY.</div>
      <div>You don't have any products in the cart yet.</div>
      <div>You will find a lot of interesting products on our "Shop" page.</div>
      <a href="index"><button id="returnButton">RETURN TO SHOP</button></a>
    </div>
    <div class="headerCart" style="
    justify-content: center;
    align-items: center; position: relative; padding:50px ; margin:0">
        <h1 style=" text-align: center; margin: auto">Shopping Cart</h1>
    </div>
   
    <div class="fullWishlistContainer">
      
        <%cart.item.forEach((items) => { %>
      <div class="wishlistItemContainer">
        
        <div class="wishlistImageContainer">
            <img src="<%= products.find(products => products.id === items.productId).photo[0] %>" width="100px" height="100px" />
          </div>


         
       
        <div class="wishlistTexts">
          <a href="index" id="websiteLink">FRNTR</a>
          <div style="font-weight: bold"><%=items.productName%></div>
          <div>
            <s>16,100.00 EGP</s> <span style="color: red"><%=items.productPrice%></span>
          </div>
           <span class="addOrRemove"
              ><span class="addRemoveContainer"
                ><button
                  class="material-symbols-outlined"
                  id="trash"
                  onclick="removeItem()"
                >
                  delete</button
                ><span id="totalAmount"><%=items.quantity%></span
                ><button
                  class="material-symbols-outlined"
                  id="plus"
                  onclick="addItem()"
                >
                  add
                </button>
                </span
              ></span
            >

          <div id="insideInfo">
            <p style="font-size: 10px">
              This bed is uniquie, the headboard is in glam deco style, with
              velvety panels rising in an arching pattern, giving it a new take
              on traitional channel tufting. Product...
            </p>
          </div>
        </div>
        <div class="buttonContainer">
          <button id="viewButton">
            <span id="viewMessage">View</span>
            <a href="/product/itempage?id=<%=items.productId %>&category=<%= products.find(products => products.id === items.productId).category %>">
                <span class="material-symbols-outlined" id="eyeIcon"
              >visibility</span
            ></a>
          </button>
          <span id="finalPrice">
            <span id="totalItemPrice"><%=items.productPrice%></span> EGP<button
            class="material-symbols-outlined"
            id="trash"
            onclick="removeFromCart('<%=items.productId%>','<%=items.productName%>' , '<%=items.productPrice%>', '<%=items.quantity%>')">
            delete</button</span>
         
        </div>
      </div>

        </div>
      </div>
    </div>
      <%});%>
      <div class="checkoutContainer">
        <div class="leftSideOfCheck">
          <div style="font-weight: bold">Add Order Note</div>
          <textarea
            id="howCanWeHelp"
            placeholder="How can we help you?"
          ></textarea>
          <div style="font-weight: bold">Coupon:</div>
          <div style="margin-bottom: 10px">
            Coupon code will work on checkout page
          </div>
          <input type="text" id="couponcode" placeholder="Coupon code" />
        </div>
        <div class="rightSideOfCheck">
          
          <div id="checkoutButtonContainer">
            <div id="subtotal">
                SUBTOTAL: <span id="subtotalNum"><%=cart.totalPrice%></span> EGP
              </div>
            <button id="checkoutButton">
              <span id="checkout">Check Out</span>
              <span class="material-symbols-outlined" id="arrowicon">
                arrow_forward</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include("./partials/chat.ejs")%> <%- include("./partials/footer.ejs")%>
    <script type="text/javascript" src="../js/handler.js"></script>
    <script type="text/javascript"  src="/js/ajax-cart.js"></script>
  </body>
</html>
