<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" contentContainer="IE=edge">
  <meta name="viewport" contentContainer="width=device-width, initial-scale=1.0">
  <title>FRNTR</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/coffee.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/edit-fade.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/maximize.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="/../css/categories.css" />

  <style>
    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }


    .row{
      display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    }

    .confBtn{
      cursor: pointer;
      border-style: none;
      background-color: transparent;

      
    }
    .icon .tooltiptext {
  visibility: hidden;
  width: 123px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 20;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 11px;
}

.icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.icon:hover .tooltiptext {
  visibility: visible;
}

  </style>
  <link rel="stylesheet" href="/../css/style.css">
  <link rel="stylesheet" href="/../css/cartsidebar.css">
  <link rel="stylesheet" href="/../css/categories.css" />
  <link rel="stylesheet" href="/../css/furniture.css" />
  <link rel="stylesheet" href="/../css/cartsidebar.css">
  <link rel="stylesheet" href="/../css/style.css">
  <link rel="stylesheet" href="/../css/itempage.css">
  <link rel="stylesheet" href="/../css/test.css">
  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div style="text-align: center;" data-mce-fragment="1" data-mce-style="text-align: center;">
    <div class="mainPicFarrah">
      <img class="sofaMainFarrah" src="/../images/Image1.webp">
    </div>

  </div>

  <%- include("./partials/filter.ejs")%>
  <div class="moreproducts">
    <div class="innerprod">
      <div class="top-header">
        <h3 class="title">

        </h3>
      </div>
      <div class="viewproduct">
        <div class="row">
          <% product.forEach((products) => { %>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="/product/itempage?id=<%= products._id %>&category=<%= products.category %>" class="images">
                <% if (products.photo && products.photo.length > 0) { %>
                 
                   
                      <img src="<%= products.photo[0]%>" class="pic-1" style="width: 100%" />
                      
                       
                          <img src="<%= products.photo[1] %>" class="pic-2" style="width: 100%" />
                     
                    </a>
                  
                <% } %>
                <span class="discount">-26%</span>
                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href="/product/itemPage"><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    
                      <input type="hidden" value="<%=products._id%>" name="productId">
                      <input type="hidden" value=" <%= products.productName %>" name="productName">
                      <input type="hidden" value=" <%= products.price %>" name="productPrice">
                      <input type="hidden" value=" <%= products.quantity %>" name="productQuantity">
                    <button type="button" class="confBtn" onclick="addToCart('<%=products._id%>' , '<%=products.productName%>' , '<%=products.price%>', '<%=products.quantity%>')"><i class="fa-solid fa-cart-plus"></i></button>
                    
                    <span class="tooltiptext">Add To Cart</span>>
                     
                  </div>
                  


                </div>
                
              </div>
              
              <div class="Content">
                <h3 class="product-title">
                  <%= products.productName %>
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in"><%= products.price %> EGP</ins>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="popup" id="popup">
        <img src="/images/404-tick.png" alt="tick">
        <h2>Added To Cart!</h2>
        <p>Item has been added to cart successfully. Thanks!</p>
        <button type="button" onclick="closePopup()">OK</button>
    </div>
      
  </div>

          <!-- <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="/../images/TriviaSofa_1.webp" alt="" class="pic-1">
                  <img src="/../images/TriviaSofa_4.webp" alt="" class="pic-2">
                </a>
                <span class="discount">-18%</span>

                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href="/product/itemPage"><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                     <a href=""><i class="fa-solid fa-cart-plus" ></i></a>
                    <span class="tooltiptext">Add To Cart</span>
                  </div>

                </div>



              </div>
              <div class="Content">
                <h3 class="product-title">
                  Trivia Sofa / 154 x 82 CM 2S
                </h3>
                <del>9,960.00 EGP</del>
                <ins class="in">8,140.00 EGP</ins>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="/../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="/../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>

                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href="/product/itemPage"><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                     <a href=""><i class="fa-solid fa-cart-plus" ></i></a>
                    <span class="tooltiptext">Add To Cart</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="/../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="/../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span-->


     

    <%- include("./partials/chat.ejs")%>
    <%- include("./partials/pagination.ejs" , {Furniture : product})%>
    <!-- Pass the allData variable to the JS file as a parameter -->
    
    <!-- <script>
      const allData = JSONstringify(allData) ;
      window.allData = allData;
    </script> -->


    <script>
      let popup = document.getElementById("popup");

      function openPopup(){
          popup.classList.add("open-popup");
      }


      function closePopup(){
          popup.classList.remove("open-popup");
      }


      const addToCartHandler = async() =>{
        const existItem = cart
      }

      // var form = document.getElementById('add-to-cart-form');
      // var button = form.querySelector('button');
      // var productId = form.querySelector('input[name="productId"]').value;

  // button.addEventListener('click', function(event) {
  //   event.preventDefault(); // Prevent the form from submitting normally
  //   var formData = new FormData(form); // Create a new FormData object
  //   fetch('/add-to-cart', {
  //     method: 'POST',
  //     body: formData
  //   })
  //   .then(response => {
  //     // Handle response
  //     console.log(response);
  //   })
  //   .catch(error => {
  //     // Handle error
  //     console.error(error);
  //   });
    
  //   addToCart(productId);
  // });
  function addToCart(productid, productname , productprice , productQuantity) {
                console.log(productname);
                product = {
                  productId: productid,
                  productName: productname,
                  productPrice: productprice,
                  productQuantity: productQuantity,
                }
                console.log(product);

                fetch('/user/add-to-cart', {
                  contentType: 'application/json',
                  method: 'POST',
                  body: product
                })
                  .then(response => {
                    // Handle response
                    console.log(response);
                  })
                  .catch(error => {
                    // Handle error
                    console.error(error);
                  });

              }
    </script>
    <script type="text/javascript"  src="/js/pagination.js"></script>
    <%- include("./partials/footer.ejs")%>
</body>
</html>