<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" contentContainer="IE=edge">
  <meta name="viewport" contentContainer="width=device-width, initial-scale=1.0">
  <title>FRNTR</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/coffee.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/edit-fade.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/maximize.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



  <style>
    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }


    .row{
      display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    }

    .confBtn{
      cursor: pointer;
      border-style: none;
      background-color: transparent;

      
    }
    .icon .tooltiptext {
  visibility: hidden;
  width: 123px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 20;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 11px;
}

.icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.icon:hover .tooltiptext {
  visibility: visible;
}
/* Styling for the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Styling for the pagination links */
.pagination-link {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the current page link */
.current-page {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
}

  </style>
  <link rel="stylesheet" href="/../css/categories.css" />
  <link rel="stylesheet" href="/../css/furniture.css" />
  <link rel="stylesheet" href="/../css/cartsidebar.css">
  <link rel="stylesheet" href="/../css/style.css">
  <link rel="stylesheet" href="/../css/itempage.css">
  <link rel="stylesheet" href="/../css/test.css">
  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div style="text-align: center;" data-mce-fragment="1" data-mce-style="text-align: center;">
    <div class="mainPicFarrah">
      <%if(product.length!==0){%>
      <img class="sofaMainFarrah" style="max-width: 60%;" src='/../images/<%=product[0].category%>banner.webp'>
      <%}%>
    </div>

  </div>

  
  <div class="moreproducts">
    <div class="innerprod">
      <div class="top-header">
        <%- include("./partials/filter.ejs")%>
        <h3 class="title">
          
        </h3>
      </div>
      <div class="viewproduct">
        <div class="row">
          <% if (product.length === 0) { %>
            <div class="no-products-message">
              <h3>
                <i class="fas fa-exclamation-circle"></i><br>
                <span>Oops!</span><br>
                There are no products to display
              </h3>
            </div>
            <%}%>
          <% product.forEach((products) => { %>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="/product/itempage?id=<%= products._id %>&category=<%= products.category %>" class="images">
                <% if (products.photo && products.photo.length > 0) { %>
                 
                  <% if (products.photo[0]) { %>
                      <img src="/../<%= products.photo[0].replace('public/', '')%>" class="pic-1" style="width: 100%" />
                      
                       <%}%>
                       <% if (products.photo[1]) { %>
                          <img src="/../<%= products.photo[1].replace('public/', '') %>" class="pic-2" style="width: 100%" />
                          <%}%>
                    </a>
                  
                <% } %>

                 <% if(products.offer){%>
                    <span class="discount"><%=products.offer%>%</span>
                       <%}else{%>
                        <span class="discount" style="display: none;"></span>
                        <%}%>
                <div class="links">
                  <% if(user!==""){%>
                  <div class="Icon">
                    <input type="hidden" value="<%=products._id%>" name="productId">
                      <input type="hidden" value=" <%= products.productName %>" name="productName">
                      <input type="hidden" value=" <%= products.price %>" name="productPrice">
                      <input type="hidden" value=" <%= products.quantity %>" name="productQuantity">
                    <button type="button" class="confBtn" onclick="addToWishlist(`<%=products._id%>` , `<%=products.productName%>` , `<%=products.price%>`, `<%=products.quantity%>` )"><i class="fa-regular fa-heart"></i></button>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                <%}%>
                  <% if(user!==""){ %>
                  <div class="Icon">
                    
                      <input type="hidden" value="<%=products._id%>" name="productId">
                      <input type="hidden" value=" <%= products.productName %>" name="productName">
                      <input type="hidden" value=" <%= products.price %>" name="productPrice">
                      <input type="hidden" value=" <%= products.quantity %>" name="productQuantity">
                    <button type="button" class="confBtn" onclick="addToCart(`<%=products._id%>` , `<%=products.productName%>` , `<%=products.price%>`, `<%=products.quantity%>`,1 )"><i class="fa-solid fa-cart-plus"></i></button>
                    
                    <span class="tooltiptext">Add To Cart</span>>
                     
                  </div>
                  <%}%>


                </div>
                
              </div>
              
              <div class="Content">
                <h3 class="product-title">
                  <%= products.productName %>
                </h3>
                <%if(products.offer){%>
                <del><%= products.price %> EGP</del>
                <ins class="in"><%= products.price -(products.price * (products.offer)/100) %> EGP</ins>
                <%} else{%>
                  <ins class="in" style="color: #333;"><%= products.price %> EGP</ins>
                  <%}%>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="popup" id="popup">
        <img src="/images/404-tick.png" alt="tick">
        <h2>Added To Cart!</h2>
        <p>Item has been added to cart successfully. Thanks!</p>
        <button type="button" onclick="closePopup()">OK</button>
    </div>
    <div class="errorpopup" id="errorpopup">
      <img src="/images/404-error.png" alt="tick">
      <h2>Failed to add to cart!</h2>
      <p>Item out of stock!</p>
      <button type="button" onclick="closeerrorPopup()">OK</button>
  </div>
    <div class="pagination">
      <% if (currentPage > 1) { %>
        <a class="pagination-link" href="?page=<%= currentPage - 1 %>&category=<%= categoryQuery %>">Previous</a>
      <% } %>
      
      <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
          <span class="current-page current-page-link"><%= i %></span>
        <% } else { %>
          <a class="pagination-link" href="?page=<%= i %>&category=<%= categoryQuery %>"><%= i %></a>
        <% } %>
      <% } %>
    
      <% if (currentPage < totalPages) { %>
        <a class="pagination-link" href="?page=<%= currentPage + 1 %>&category=<%= categoryQuery %>">Next</a>
      <% } %>
    </div>
    
  </div>

    <%- include("./partials/chat.ejs")%>
   
    <script>
      let popup = document.getElementById("popup");

      function openPopup(){
          popup.classList.add("open-popup");
      }


      function closePopup(){
          popup.classList.remove("open-popup");
      }
      let errorpopup=document.getElementById("errorpopup");
      function openerrorPopup(){
          errorpopup.classList.add("open-popup");
      }


      function closeerrorPopup(){
          errorpopup.classList.remove("open-popup");
      }
      const addToCartHandler = async() =>{
        const existItem = cart
      }

      async function addToWishlist(productid, productname , productprice , productQuantity) {
        console.log("in ajax wishlist");
        console.log(productid, productname, productprice, productQuantity, "done");
        console.log(product);

                // fetch('/user/add-to-cart', {
                //   contentType: 'application/json',
                //   method: 'POST',
                //   body: JSON.stringify({product: product})
                // })
                //   .then(response => {
                //     // Handle response
                //     console.log(response);
                //   })
                //   .catch(error => {
                //     // Handle error
                //     console.error(error);
                //   });

                $.ajax({
                  url:'/user/add-to-wishlist',
                  method:'POST',
                  contentType: 'application/json',
                  data:JSON.stringify({ productId: productid, productName:productname,
                  productPrice: productprice,productQuantity: productQuantity}),
                  success:function(response){
                  // $('#result').html(response);
                  },
                  error:function(err){}
                })
            }

    </script>
    
    <script type="text/javascript"  src="/js/ajax-cart.js"></script>
    <script type="text/javascript"  src="/js/ajax-wishlist.js"></script>
    <%- include("./partials/footer.ejs")%>
</body>
</html>