<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/admin.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <style>
      body {
        margin: 0;
        font-family: "Lato", sans-serif;
      }

      .sidebar a.dashboard {
        background-color: black;
        color: white;
      }

      .sidebar a:hover:not(.dashboard) {
        background-color: #555;
        color: white;
      }
     
    </style>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <%- include("./partials/adminsidebar.ejs")%>
    <div class="contenty">
      <%- include("./partials/adminnav.ejs")%>
      <div class="sideCon">
        <div class="header">
          <h2>Your Dashboard</h2>
          <h3 id="subhead">Your Top Selling Products</h3>
        </div>
        <div class="gallery">
          <div class="row">
            <div class="content">
              <section class="hoveringimgs">
                <div class="box">
                  <img
                    src="../images/Yerevan_11.webp"
                    class="hoveredimg"
                    alt="Sofa"
                    style="width: 100%"
                  />
                  <img
                    src="../images/Yerevan_10.webp"
                    alt="Nyla Bbaby Blye sofa"
                    class="hover_img"
                    style="width: 100%"
                  />
                </div>
                <div class="container">
                  <h4><b>Malia Vanity Stool Chair</b></h4>
                  <p>Hover function</p>
                </div>
              </section>
            </div>
            <div class="content">
              <section class="hoveringimgs">
                <div class="box">
                  <img
                    src="../images/malia_5.webp"
                    class="hoveredimg"
                    alt="Avatar"
                    style="width: 100%"
                  />
                  <img
                    src="../images/malia_3.webp"
                    alt="texture"
                    class="hover_img"
                    style="width: 100%"
                  />
                </div>
                <div class="container">
                  <h4><b>Malia Vanity Stool Chair</b></h4>
                  <p>Hover function</p>
                </div>
              </section>
            </div>
            <div class="content">
              <section class="hoveringimgs">
                <div class="box">
                  <img
                    src="../images/NylaBabyBlue2.webp"
                    class="hoveredimg"
                    alt="Avatar"
                    style="width: 100%"
                  />
                  <img
                    src="../images/NylaBabyBlue3.webp"
                    alt="texture"
                    class="hover_img"
                    style="width: 100%"
                  />
                </div>
                <div class="container">
                  <h4><b>Nyla Baby Blue</b></h4>
                  <p>19200 EGP</p>
                </div>
              </section>
            </div>
          </div>
          
          <% if (lowStock && lowStock.length > 0) { %>
            <h3 id="subhead">Low in stock</h3>
            <div class="row">
              <% lowStock.forEach((product) => { %>
                <div class="content">
                  <div class="product-image">
                    <% if (product.imagePath && product.imagePath.length > 0) { %>
                      <% product.imagePath.forEach((path) => { %>
                        <img src="<%= path %>" class="pic-1" style="width: 100%" />
                        <% console.log("hello Image Path:", path); %>
                        <img src="<%= path %>" class="pic-2" style="width: 100%" />
                      <% }); %>
                    <% } %>
                  </div>
                  <div class="container">
                    <h4><b><%= product.productName %></b></h4>
                    <p><%= product.category %><br> Remianing left: <%= product.quantity %></p>
                  </div>
                </div>
              <% }); %>
            </div>
          <% } %>
        
        </div>
        <h3 id="subhead">The People Loved these offers!</h3>
        <div class="row">
          <div class="content">
            <section class="hoveringimgs">
              <div class="box">
                <img
                  src="../images/Corinne_25.6_Wide_Wingback_Chair.webp"
                  class="hoveredimg"
                  alt="chair"
                  style="width: 100%"
                />
                <img
                  src="../images/Corinne_25.6_Wide_Wingback_Chair_11.jpg"
                  alt="texture"
                  class="hover_img"
                  style="width: 100%"
                />
              </div>
              <div class="container">
                <h4><b>Acadia Chaise Lounge</b></h4>
                <p class="deals">35000 EGP</p>
                <p>Now for ONLY 30000 EGP</p>
              </div>
            </section>
          </div>
          <div class="content">
            <section class="hoveringimgs">
              <div class="box">
                <img
                  src="../images/malia_5.webp"
                  class="hoveredimg"
                  alt="Avatar"
                  style="width: 100%"
                />
                <img
                  src="../images/malia_3.webp"
                  alt="texture"
                  class="hover_img"
                  style="width: 100%"
                />
              </div>
              <div class="container">
                <h4><b>Malia Vanity Stool Chair</b></h4>
                <p>Hover function</p>
              </div>
            </section>
          </div>
          <div class="content">
            <section class="hoveringimgs">
              <div class="box">
                <img
                  src="../images/NylaBabyBlue2.webp"
                  class="hoveredimg"
                  alt="Avatar"
                  style="width: 100%"
                />
                <img
                  src="../images/NylaBabyBlue3.webp"
                  alt="texture"
                  class="hover_img"
                  style="width: 100%"
                />
              </div>
              <div class="container">
                <h4><b>Nyla Baby Blue</b></h4>
                <p>19200 EGP</p>
              </div>
            </section>
          </div>
        </div>
      </div>
      <%- include('./partials/chat.ejs')%>
    </div>
  </body>
</html>
