<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/../css/login.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <style>
      .material-symbols-outlined {
        position: relative;
        top: 1px;
        font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 24;
      }
    </style>
    <title>FRNTR</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="MaIN">
      <div class="page-header">
        <div class="page-header-title">
          <h1 class="title-header">Reset account password</h1>
        </div>
      </div>
      <section class="ssection">
        <div class="FORM">
            <p class="p">Enter a new password for <br><%=user_id.email%></p>
          <div class="err">
            <ul>
              <li><%= errors ? errors : '' %></li>
            </ul>
          </div>
          <div class="logIn">
            <form action="/auth/forget-password" method="post">
             
              <div class="input1">
                <input type="password" name="password" placeholder="password" />
                <label for="customerEmail">
                 New Password
                  <span class="required"></span>
                </label>
                <input type="hidden" name="user_id" value="<%=user_id._id%>">
              </div>
       
              <div class="input2">
                <input type="password" name="confirmpass" placeholder="password" />
                <label for="customerEmail">
                  Confirm Password
                  <span class="required"></span>
                </label>
              </div>
              
             
              <div class="btnsignup">
                <input type="submit" value="Sign in" />
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
