<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/cartsidebar.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .sidebar a.orders {
            background-color: black;
            color: white;
        }

        .sidebar a:hover:not(.orders) {
            background-color: #555;
            color: white;
        }
    .content {
        background-color: #f9f9f9;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-bottom: 20px;
         
        }
        .container h4 {
            margin-bottom: 10px;
        }
        .container p:last-child {
            margin-top: 10px;
        }

    </style>
    <title>Admin Orders</title>
</head>

<body>
    <%- include("./partials/adminsidebar.ejs") %>
    <div class="contenty">
        <%- include("./partials/adminnav.ejs") %>
        <div class="sideCon">
            <div class="header">
                <h2>All Previous Orders</h2>
                <div class="gallery">
                    <% if (sold && sold.length > 0) { %>
                        <div class="row">

                            <% sold.forEach((product) => {  %>
                               <% const foundProduct = users.find(user => user.id.toString() === product.UserId.toString());%>
                               <%console.log('foundProduct:', foundProduct)%>

                                <div class="content" style=" width: auto;">  <p style=" color: #555;
                                    line-height: 1.5;
                                    margin: 0;  font-weight: bold;
            margin-bottom: 5px;">  user : <%= foundProduct.firstName %></p>
                                 <p> email : <%= foundProduct.email %></p>
                                 <p>  Address1: <%= foundProduct.address %></p>
                                 <p> Address2 :  <%= foundProduct.address2 %> </p> 
                                    <div class="container"> <br>
                                        They bought :
                                        <% product.item.forEach((orders) => { %>
                                            <h4><b>
                                                 <p>  <%= orders.productName %>  </p>
                                            </b></h4>
                                        <% }); %><p> Total price they paid was : <%= product.totalPrice %></p>

                                    </div>
                                </div>
                            <% }); %> 
                        </div>
                    <% } %>
                </div>
            </div>
            <%- include('./partials/chat.ejs') %>
        </div>
    </div>
</body>

</html>
