<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

        div.contenty {
            margin-left: 200px;
            padding: 1px 16px;
            height: 1000px;
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
                display: flex;
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 0;
                padding: 0;
            }
        }
        @media screen and(max-width: 1400){
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 0;
                /* padding: 0; */
            }
        }
        

        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }

        .material-symbols-outlined {

            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }


        .sidebar a.dashboard {
            background-color: black;
            color: white;
        }

        .sidebar a:hover:not(.dashboard) {
            background-color: #555;
            color: white;
        }
        @media screen and(max-width: 2497){
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
                
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 325;
                padding: 25;
            }
        }
    </style>
    <title>Admin Product Edit</title>
</head>
<body>
    <div class="barpage">
        <div class="sideCon">
            <%- include("./partials/adminnav.ejs")%>
            <div class="header"> <h2>Edit in Item</h2> </div>
            <div class="gallery">
                <div class="row">
                    <div class="background">
                        <div class="containerform">
                            <!-- //////////////////update///////////////// -->
                            <form class="form" action="/adminproduct/edit" method="post" onsubmit="return validateEditForm(event)" enctype="multipart/form-data">
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="productname">Product Name</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="text" id="upproductname" name="upproductname"
                                            placeholder="Enter the product name.." value="<%= product ? product.productName : '' %>">
                                        <div id="upnameid" class="err" ><% if (errors && errors.upproductname) { %>
                                            <%= errors.upproductname %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="ID"> Product ID</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="text" id="upID" name="upProductID" placeholder="Enter product ID.." value="<%= product ? product._id : '' %>">
                                        <div id="upidid" class="err"><% if (errors && errors.upProductID) { %>
                                            <%= errors.upProductID %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="category">Category</label>
                                    </div>
                                    <div class="col-75">
                                        <select id="category" name="category">
                                                <option value="armchair" <%= product && product.category === 'armchair' ? 'selected' : '' %>>Armchair</option>
                                                <option value="beds" <%= product && product.category === 'beds' ? 'selected' : '' %>>Beds</option>
                                                <option value="benches" <%= product && product.category === 'benches' ? 'selected' : '' %>>Benches</option>
                                                <option value="beanbags" <%= product && product.category === 'beanbags' ? 'selected' : '' %>>Bean Bags</option>
                                                <option value="chaise lounges" <%= product && product.category === 'chaise lounges' ? 'selected' : '' %>>Chaise Lounges</option>
                                                <option value="living room set" <%= product && product.category === 'living room set' ? 'selected' : '' %>>Living Room Set</option>
                                                <option value="kids furniture" <%= product && product.category === 'kids furniture' ? 'selected' : '' %>>Kids Furniture</option>
                                                <option value="pets furniture" <%= product && product.category === 'pets furniture' ? 'selected' : '' %>>Pets Furniture</option>
                                                <option value="space friendly" <%= product && product.category === 'space friendly' ? 'selected' : '' %>>Space Friendly</option>
                                            
                                            
                                        </select>
                                        <div id="catorgyid" class="err"></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                        <label for="subject">Choose diffrent color</label>
                                    </div>
                                    <div class="col-75">
                                        <input id="color" name="colorpicker" type="text" value="<%= product ? product.color : '' %>">
                                        <div id="colorid" class="err"><% if (errors && errors.color) { %>
                                            <%= errors.color %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Update the price</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="number" min="1" step="any" id="price" name="price"
                                            placeholder="Decimals are accepted" value="<%= product ? product.price : '' %>">
                                        <div id="priceid" class="err"><% if (errors && errors.price) { %>
                                            <%= errors.price %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Update the quantity</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="number" min="1" id="quantity" name="quantity"
                                            placeholder="Enter a whole posisitive number .."  value="<%= product ? product.quantity : '' %>">
                                        <div id="quantityid" class="err"><% if (errors && errors.quantity) { %>
                                            <%= errors.quantity %>
                                          <% } %></div>
                                    </div>
                                </div>
                                <div class="rowform">
                                    <div class="col-25">
                                      <label for="comments">Comments</label>
                                    </div>
                                    <div class="col-75">
                                      <textarea id="comments" name="comments" placeholder="Leave any comments you have about the product..." style="height:200px"><% if (product && product.comments) { %><%= product.comments %><% } %>
                                    </textarea>
                                    </div>
                                  </div>
                                <div class="rowform">
                                    <div class="col-25">
    
                                        <label for="subject">Update Photo of the product</label>
                                    </div>
                                    <div class="col-65">
                                        <input type="file" id="photo" name="photo">
                                    </div>
                                    <div class="rowform">
                                        <input type="submit" id="submitButton" value="Submit">
                                    </div>
                                    <div class="rowform">
                                        <% if (typeof successMessage !== 'undefined' && successMessage) { %>
                                          <p style="color: green"><%= successMessage %></p>
                                        <% } %>
                                        <% if (typeof failMessage !== 'undefined' && failMessage) { %>
                                          <p style="color:red"><%= failMessage %></p>
                                        <% } %>
                                      </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
           <h3 id="subhead">Recently Edited</h3>
            <div class="row">
                <div class="content">
                    <section class="hoveringimgs">
                        <div class="box">
                            <img src="../Images/malia_5.webp" class="hoveredimg" alt="Avatar" style="width:100%">
                            <img src="../Images/malia_3.webp" alt="texture" class="hover_img" style="width:100%">
                        </div>
                        <div class="container">
                            <h4><b>Malia Vanity Stool Chair</b></h4>
                            <p>Hover function</p>
                        </div>
                    </section>
                </div>
                <div class="content">
                    <section class="hoveringimgs">
                        <div class="box">
                            <img src="../Images/NylaBabyBlue2.webp" class="hoveredimg" alt="Avatar" style="width:100%">
                            <img src="../Images/NylaBabyBlue3.webp" alt="texture" class="hover_img" style="width:100%">
                        </div>
                        <div class="container">
                            <h4><b>Nyla Baby Blue</b></h4>
                            <p>19200 EGP</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="../JS/admin.js"></script>

</body>
</html>