<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/admin.css" />
    <link rel="stylesheet" href="../css/cartsidebar.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <style>
      .sidebar a.review {
        background-color: black;
        color: white;
      }

      .sidebar a:hover:not(.review) {
        background-color: #555;
        color: white;
      }
  
      .row {
        justify-content: center;
        align-items: center;
      }
    </style>
    <title>Admin Reviews</title>
  </head>
  <body>
    <%- include("./partials/adminsidebar.ejs")%>
    <div class="contenty">
      <%- include("./partials/adminnav.ejs")%>
      <div class="sideCon">
        <div class="header">
          <h2>Reviews</h2>
        </div>
        <div class="gallery">
          <div class="row">
            <% revadmin.forEach((product) => { %>
         
            <div class="fullrev">
              <div class="content-z">
                <div class="content-x" style="padding: 4px;">
                      <img src="<%= product.photo[0] %>" width="120px" height="120px">
                   
                </div>
                <div class="container-x" style="margin: 10px; text-align: center;">
                  <h6><%= product.productName%></h6>
                </div>
              </div>
              <div class="rev">
                <% if (product.review && product.review.length > 0) { %>
                  <% product.review.forEach((reviewItem,index) =>{%>
                <div class="container-z" style="margin: 25px 0px;">
                 <p style="padding: 10px;"><%= reviewItem%>  <br> </p>
                 <div class="status">
                  <p>
                    <button class="approverev" onclick="EditReview('<%= product.id %>','<%=index%>')">Accept Review</button>
                    <button class="deleterev" onclick="confirmDeleteRev('<%= product.id %>','<%=index%>')">Delete Review</button>
                  </p>
                  <br>
                </div>
                </div>
                <% }); %>
                <% } %>
              </div>
            </div>
          <% }); %>
         </div>
        </div>
      </div> 
      <%- include('./partials/chat.ejs')%>
    </div>
  </body>
</html>
