<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
    </style>
  <link rel="stylesheet" href="../CSS/cartsidebar.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />


    <link rel="stylesheet" href="../CSS/style.css">
    <title>Document</title>
</head>

<body>

    <%- include("./partials/nav.ejs")%>
    <div class="signup1">
        <p class="sign1">Register</p>
    </div>

    <div class="sign1">
        <form name="sign-in" action="/SignUp" method="post" onsubmit="return validate(this)">
            <input type="hidden" name="userType" value="client">
          
            <input id="fir" type="text" class="elemen" name="Firstname" placeholder="First Name">
            <div id="first" class="err"><%= errors && errors.firstname ? errors.firstname : '' %></div>
          
            <input id="las" type="text" class="elemen" name="last" placeholder="Last Name">
            <div id="last" class="err"><%= errors && errors.lastname ? errors.lastname : '' %></div>
          
            <input id="ema" type="email" class="elemen" name="email" placeholder="Email">
            <div id="em" class="err"><%= errors && errors.email ? errors.email : '' %></div>
          
            <input id="pa" type="password" class="elemen" name="pas" placeholder="Password">
            <div id="pas" class="err"><%= errors && errors.password ? errors.password : '' %></div>
          
            <input id="pac" type="password" class="elemen" name="pasconfirm" placeholder="Confirm Password"><br>
            <div id="con" class="err"><%= errors && errors.confirmPassword ? errors.confirmPassword : '' %></div>
          
            <input class="subm" type="submit" value="Register"><br>
          </form>
          
    </div>
    </div>
    <%- include("./partials/chat.ejs")%>
    <%- include("./partials/footer.ejs")%>
    <script type="text/javascript" src="../JS/handler.js"></script>
    <script type="text/javascript" src="../JS/validations.js"></script>

</body>

</html>