<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../css/login.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
    <title>FRNTR</title>
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="MaIN">
      <div class="page-header">
        <div class="page-header-title">
          <h1 class="title-header">Resend Email Verification</h1>
        </div>
      </div>
      <section class="ssection">
        <div class="FORM">
          <h1 class="ttitle" style="color: black; margin-bottom: 10px;">Verify your email</h1>
          <p>Just let us know what your account email is and we will send you a link to verify your account </p>
          <div class="err">
            <ul>
              <%= errors ? errors : '' %>
            </ul>
          </div>
          <div class="logIn">
            <form action="/auth/verifiy" method="post">
              <input type="hidden" />
              <div class="input1">
                <input type="email" name="email" placeholder="Email" />
                <label for="customerEmail">
                  Email
                  <span class="required"></span>
                </label>
              </div>
           
              <div class="input2">
                <input type="password" name="pass" placeholder="password" />
                <label for="customerEmail">
                  Password
                  <span class="required"></span>
                </label>
              </div>
             
              <div class="btnsignup">
                <input type="submit" value="Sign in" >
              </div>
              <div class="message" >
               <%= message ?message : ''%>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <%- include("./partials/chat.ejs")%> <%- include("./partials/footer.ejs")%>
</body>
</html>